h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: Arial, sans-serif;
}

/*------------------------------------------------------------------*/
/*======================HEAD======================*/
.head-style-div {
  background-color: rgb(77, 86, 71);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(77, 86, 71);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.nav-style {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.logo {
  fill: rgb(255, 255, 255);
  display: block;
}
.h1-style {
  width: 335px;
}
.nav-ul-style {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-li-style:nth-child(2) {
  background-color: rgb(132, 156, 146);
}
.nav-li-style {
  border: 1px solid rgb(160, 155, 155);
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 2px 1px black;
}

.nav-li-style:hover,
.nav-li-style:focus {
  border: 1px solid rgb(84, 95, 74);
  color: rgb(77, 86, 71);
  background-color: white;
}

/*======================SECTION-1===================*/

.main-section-1 {
  background-color: rgb(77, 86, 71);
}
.main-title {
  padding-top: 150px;
  background-image: linear-gradient(
      rgba(77, 86, 71, 0.9),
      rgba(77, 86, 71, 0.9)
    ),
    url('../images/fon-sektion.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-clip: padding-box;
  background-position: center;
  min-height: 600px;
}

.vidpustka-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.vidpustka-ul-li {
  background-color: rgb(241, 239, 229);
  color: rgb(38, 37, 37);
  min-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 2px rgb(46, 45, 45);
}
.zagolovok {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.perelik {
  font-weight: 600;
}
.div-perelik {
  display: flex;
  gap: 25px;
  align-items: baseline;
  justify-content: space-between;
}
.div-perelik:hover {
  fill: rgb(204, 107, 28);
  color: rgb(204, 107, 28);
}
.opis {
  width: 200px;
  font-size: 12px;
  font-style: italic;
}

/*========================FOOTER============================*/

.footer-style {
  background-color: rgb(0, 0, 0);
}
.footers {
  display: flex;
  gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-around;
  align-items: center;
}
.footer-p {
  color: white;
}
.footer-p-roz {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-p-dvz {
  color: rgb(180, 187, 142);
  font-size: 25px;
  font-weight: 700;
}
